<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/Theme.AyatAlkorsi">
        <activity
            android:name=".MainActivity11"
            android:exported="false" />
        <activity
            android:name=".MainActivity10"
            android:exported="false" />
        <activity
            android:name=".MainActivity9"
            android:exported="false" />
        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".AyaFadl"
            android:exported="false" />
        <activity
            android:name=".AyaText"
            android:exported="false" />
        <activity
            android:name=".AyaPic"
            android:exported="false" />
        <activity
            android:name=".Listen"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity7" />
        <activity android:name=".MainActivity6" />
        <activity android:name=".MainActivity5" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>